* {
    padding: 0;
    margin: 0;
}

html {
    background-color: black;
    color: white;
}

.nav-main {
    height: 10vh;
    width: 100%;
    display: flex;
    min-width: fit-content;
    /* background-color: black; */
    align-items: center;
    justify-content: center;
}

.main-nav {
    width: 100%;

    padding-top: 5vh;
}

.main-nav ul {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
}

.main-nav ul li {
    list-style: none;
}

.main-nav ul li a {
    text-decoration: none;
    font-size: 22px;
    /* color: white; */
    font-family: "Poppins", sans-serif;

}

.active-a {
    color: #EB4A4A;
    font-weight: bold;
}

.left-a {
    color: white;
}

/* Style for red color */
.red {
    background-color: #EB4A4A;
    color: white;

}

/* Style for white color */
/* .white {
    color: white;
  } */

.grid-layout {
    width: 100%;
    display: flex;
    /* background-color: black; */
    color: white;
    height: 90vh;
    min-width: fit-content;
}

.full {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.leftside-layout {
    width: 52%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.onlyheading {
    width: 100%;
    min-width: fit-content;
    min-height: fit-content;
}

.onlyheading h3 {
    font-size: 26.3px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.onlyheading h1 {
    font-size: 76.7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

.onlyheading h2 {
    font-size: 30.2px;
    color: #EB4A4A;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Your CSS styles can go here */

/* Cursor animation */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.cursor {
    display: inline-block;
    width: 0.2em;
    height: 1em;
    animation: blink 1s infinite;
}







.para {
    width: 100%;
    font-size: 16.5px;
    min-width: fit-content;
    min-height: fit-content;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.btns {
    display: flex;
    width: 70%;
    gap: 1.5rem;
    min-width: fit-content;
    min-height: fit-content;
}

.btns a {
    cursor: unset;
}

.btns button {
    width: 18vb;
    height: 6vh;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

/* second section of my intro page */
.half {
    width: 50%;
    display: flex;
    align-items: center;
}

.imagecontainer video {
    width: 100vb;
    height: 70vh;
}






.justification {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);

    width: 100%;
    align-items: start;
    justify-items: center;
    height: 90vh;
}

.imageholder {
    grid-column: 1 / 1;
    grid-row: 1/5;
}

.imageholder img {
    width: 60vb;
    /* height: 90vh; */
    border-radius: 20px;
}

.headings {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.headings {
    width: 100%;
    line-height: 1;

}

.im {
    font-size: 25.7px;
    color: #EB4A4A;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hasan {
    font-size: 65.7px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.paragraphs {
    width: 72%;
    grid-column: 2 / 4;
    grid-row: 2;
}

.paragraph {
    font-size: 19.5px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 300;

}

.random {
    width: 100%;
    display: flex;
    row-gap: 2em;
    flex-direction: column;
}

.key {
    display: grid;
}

.key h3 {
    color: #EB4A4A;
    font-size: 24.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.skillList {
    margin-left: 1em;
    column-gap: 5em;
    font-size: 20px;
    text-align: justify;
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

@keyframes fade-in {
    from {
        transform: translateY(50%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

#fade-in-section {
    opacity: 0;
    animation: fade-in 1s ease forwards;
    /* Animation lasts for 1 second */
}

/* #fade-in-section2{
    opacity: 0;
    animation: game-in 2s ease-in-out forwards;
}
@keyframes game-in{
    from{
        transform: translateY(50%);
        opacity: 0;
    }
    to{
        transform: translateY(10%);
        opacity: 1;
    }
} */
.metalogos {
    display: flex;
    flex-direction: column;
    width: 10%;
    justify-content: center;
    align-items: center;
}

.sidelogos {
    display: flex;
    flex-direction: column;
    position: sticky;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sidelogos a {
    text-decoration: none;
}

.sidelogos a img {
    width: 4vb;
    height: 4vh;
}

.skillshowcasing {
    margin-top: 10em;
    width: 100%;
    display: grid;
    height: 70vh;
    gap: 3em;
    margin-bottom: 10em;
}

.head {
    width: 46%;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head h1 span {
    color: #EB4A4A;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.undercontents {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5em;
    grid-auto-rows: minmax(100px, auto);
    justify-items: end;
    align-items: center;
}



.one img {
    width: 20vb;
    height: 20vh;

}

.two img {
    width: 17vb;
    height: 17vh;
}

.three img {
    width: 20vb;
    height: 20vh;
}

.fourth img {
    width: 20vb;
    height: 20vh;
    border: none;
    border-radius: 25px;
}

.fifth img {
    width: 20vb;
    height: 20vh;

}

.sixth img {
    width: 20vb;
    height: 20vh;

}

.three {
    grid-column: 1;
    grid-row: 1;
}

.one {
    grid-column: 2;
    grid-row: 1;
}

.fourth {
    grid-column: 3;
    grid-row: 1;

}

.fifth {
    grid-column: 1;

    grid-row: 2;
}

.two {
    grid-column: 2;
    grid-row: 2;
}

.sixth {
    grid-column: 3;
    grid-row: 2;
}



/* This is fonts section */
.zen-dots-regular {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.alice-regular {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* End of font section */
.project-showcase {
    margin-top: 5em;
    width: 100%;
    height: 100%;

}


.project-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.project-heading h1 {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
}

.project-para h3 {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.project-para h3 span {
    color: #EB4A4A;

}

.project-collection {
    width: 100%;
    display: flex;
    margin-top: 5em;
    gap: 5em;
}

.frames-section {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 2em;
}

.frames-section iframe {
    border: none;
    border-radius: 2px;
    width: 100%;
    height: 70vh;
}

.project-para {
    width: 30%;
    display: flex;
    gap: 2em;

    justify-content: flex-start;
    flex-direction: column;

}

.main-paragraph {
    font-size: 18.5px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: justify;
}

.project-para a {
    text-decoration: none;
    cursor: unset;
}

.myButton {
    width: 18vb;
    height: 5vh;
    border-radius: 5px;
    font-size: 22px;
    border: 1px solid white;
    cursor: pointer;
    background: transparent;
    color: white;
    font-family: "Zen Dots", sans-serif;
    color: #EB4A4A;
    font-weight: 400;
}

.lowbtns {
    display: flex;
    width: 70%;
    gap: 1.5rem;
    min-width: fit-content;
    min-height: fit-content;
}
.myButton i img{
    width: 20px;
    height: 20px;
}
.myButton:hover{
    box-shadow: 0px 0px 0px 0px white;
    color: white;
    border: none;
    background-color: #EB4A4A;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
}
.project-collection2{
    width: 100%;
    display: flex;
    margin-top: 5em;
    gap: 5em;
    flex-direction: row-reverse;
    align-items: flex-start;
}
.frames-section2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-right: 2em;
}
.frames-section2 iframe {
    border: none;
    border-radius: 2px;
    width: 100%;
    height: 70vh;
}